<div class="user-box">
	<p class="latolight small-text"><span class="gray">Hello,</span> <span class="white">Aaron Johnson</span></p>
</div>
<ul>
	<li><a href="/dashboard">Dashboard</a></li>
	<li><a href="/dashboard/posts">Posts</a></li>
	<li><a href="/dashboard/questions">FAQ Question</a></li>
</ul>