<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Thank you for submitting your information. We will respond to you within one business day to set up an initial consult.</p>

<p>Please reference <a href="http://untietheknottn.com/divorce-with-children">www.untietheknottn.com/divorce-with-children</a> for next steps and helpful links. If you have any questions you can call 615-550-2800 or <a href="mailto:cchadwick@sbdlaw.net">email us</a>.</p>

<p>Thank you again for contacting us.</p>

<p>Sincerely, <br>
  Connie Chadwick, ESQ
</p>


</body>
</html>