<p class="latoregular"><%= link_to "Child Support Guidelines - FAQ", "http://www.tn.gov/humanservices/article/child-support-frequently-asked-questions", target: "_blank" %></p>
<p class="latoregular"><%= link_to "Applying for Child Support Services", "http://www.tn.gov/humanservices/article/child-support-applying-for-services", target: "_blank" %></p>
<p class="latoregular"><%= link_to "Course for Parents", "http://courseforparents.com/states/TN", target: "_blank" %></p>
<p class="latoregular"><%= link_to "Parenting Skills Institute", "http://www.parentingskillsinstitute.com/", target: "_blank" %></p>