<%= render 'partials/navbar' %>
<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack question-hdr">Divorce with Property <span class="pull-right lime">$2,000</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p class="latolight main-text">You have taken the first step of filling out the initial information needed to do a conflict check to ensure that we can continue. Download the divorce packet and print off. This information packet must be filled out completely and brought to your initial consult. If there are any questions about the forms you can email us at <%= mail_to "email@email.com" %>.</p>

			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</div>
<%= render 'partials/footer' %>