<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h3>New Contact Message</h3>
	<p><%= @contact.name %></p>
	<p><%= @contact.email %></p>
	<p><%= @contact.phone %></p>
	<h4>Message:</h4>
	<p><%= @contact.message %></p>
</body>
</html>