<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h3>New Contact Message</h3>
	<p>
		<%= @contact.name %><br>
		<%= @contact.email %><br>
		<%= @contact.phone %></p>
	<p>Message:<br>
		<%= @contact.message %></p>
</body>
</html>