<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

	<h3>Question: <%= @contact.message %></h3>

	<p>
		<b>Contact Info:</b><br>
		<%= @contact.name %><br>
		<%= @contact.email %><br>
		<%= @contact.phone %>
	</p>

</body>
</html>