<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h3>New Question from FAQ:</h3>
	<p><%= @contact.name %> has asked the following question:</p>
	<h4><%= @contact.message %></h4>
	<p>Email: <%= @contact.email %><br>
		Phone: <%= @contact.phone %></p>
</body>
</html>