<%= render 'partials/navbar' %>
<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack">Oops...looks like this page does not exist!</h2>
			</div>
		</div>
	</div>
</div>
<%= render 'partials/footer' %>