<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Error!</title>
    <style type="text/css">
      <%= File.read(Gaffe.root.join('app/assets/stylesheets/errors.css')).gsub("\n", ' ').gsub('  ', ' ') %>
    </style>
  </head>
  <body>
    
      

      <div class="content">
        <hr>
        <%= yield %>
        <hr>
      </div>

      


      

    


  </body>
</html>